body {
    background-color: #cb997e;
}

#header {
    padding: 10px;
    font-family: "Montserrat" sans-serif;
    color: #ffe8d6;
    background-color: #6b705c;
    display: flex;
    justify-content: left;   
}

h1 {
    margin-left: 10px;
    border: dotted 1px;
    border-radius: 4px;
    padding: 5px;

}
h3 {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    color:white;
}

p {
    display: flex;
    justify-content: center;
    font-family: "Montserrat";
    font-size: large;
    color: white;
}

h2 {
    font-family: "Montserrat" sans-serif; 
    font-weight: lighter;
    color: white;
    margin-left: 5px;
}

main {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#calculation {
    justify-content:;
    
}
.calculation {
    border: 5px solid #ffe8d6;
    border-radius: 10px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 40px;
    background-color: #6b705c;
}

#add-h2 {
    border: dotted 1px;
    border-radius: 10px;
    margin-right: 71%;
    text-align: center;
}

#add-input-1 {
    background-color: #cb997e;
    border: white;
    border-radius: 2px;
    width: 15%;
    height: 10%;
}

#add-input-2 {
    background-color: #cb997e;
    border: white;
    border-radius: 2px;
    width: 15%;
    height: 10%;
}

#add-button {
    font-family: "Montserrat";
    background-color: #cb997e;
    color: white;
    border-radius: 10px;
    height: 40px;
}

#sub-h2 {
    border: dotted 1px;
    border-radius: 10px;
    margin-right: 66%;
    text-align: center;
}

#sub-input-1 {
    background-color: #cb997e;
    border: white;
    border-radius: 2px;
    width: 15%;
    height: 10%;
}

#sub-input-2 {
    background-color: #cb997e;
    border: white;
    border-radius: 2px;
    width: 15%;
    height: 10%;
}

#sub-button {
    font-family: "Montserrat";
    background-color: #cb997e;
    color: white;
    border-radius: 10px;
    height: 40px;
}

#multiply-h2 {
    border: dotted 1px;
    border-radius: 10px;
    margin-right: 60%;
    text-align: center;
}

#multiply-input-1 {
    background-color: #cb997e;
    border: white;
    border-radius: 2px;
    width: 15%;
    height: 10%;
}

#multiply-input-2 {
    background-color: #cb997e;
    border: white;
    border-radius: 2px;
    width: 15%;
    height: 10%;
}

#multiply-button {
    font-family: "Montserrat";
    background-color: #cb997e;
    color: white;
    border-radius: 10px;
    height: 40px;
}

#divide-h2 {
    border: dotted 1px;
    border-radius: 10px;
    margin-right: 72%;
    text-align: center;
}

#divide-input-1 {
    background-color: #cb997e;
    border: white;
    border-radius: 2px;
    width: 15%;
    height: 10%;
}

#divide-input-2 {
    background-color: #cb997e;
    border: white;
    border-radius: 2px;
    width: 15%;
    height: 10%;
}


#divide-button {
    font-family: "Montserrat";
    background-color: #cb997e;
    color: white;
    border-radius: 10px;
    height: 40px;
}


