body {
    background-color: #cb997e;
}

#header {
    padding: 10px;
    font-family: "Montserrat" sans-serif;
    color: #ffe8d6;
    background-color: #6b705c;
    display: flex;
    justify-content: left;   
}

h1 {
    margin-left: 10px;

}
h3 {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    color:white;
}

p {
    display: flex;
    justify-content: center;
    font-family: "Montserrat";
    font-size: large;
    color: white;
}

h2 {
    font-family: "Montserrat" sans-serif; 
    font-weight: lighter;
    color: #6b705c;
}

main {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.calculation {
    border: 5px solid #6b705c;
    border-radius: 10px;
    padding: 20px;
}
#add-button {
    font-family: "Montserrat";
    background-color: #6b705c;
    color: white;
    border-radius: 10px;
}

#sub-button {
    font-family: "Montserrat";
    background-color: #6b705c;
    color: white;
    border-radius: 10px;
}

#multiply-button {
    font-family: "Montserrat";
    background-color: #6b705c;
    color: white;
    border-radius: 10px;
}

#divide-button {
    font-family: "Montserrat";
    background-color: #6b705c;
    color: white;
    border-radius: 10px;
}


